---
Checks:
  - '-*'
  - 'clang-analyzer-*'
  - 'concurrency-*'
  - 'performance-*'
  - 'readability-*'
  - 'modernize-*'
  - 'bugprone-*'
  - 'misc-*'
  - 'portability-avoid-pragma-once'
  - 'altera-struct-pack-align'
  - '-modernize-use-nullptr'
  - '-clang-diagnostic-zero-as-null-pointer-constant'
  - '-bugprone-easily-swappable-parameters'
  - '-readability-avoid-nested-conditional-operator'
  - '-performance-avoid-endl'
  - '-readability-magic-numbers'
  - '-bugprone-casting-through-void'
  - '-performance-no-int-to-ptr'
  - '-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling'
  - '-clang-analyzer-valist.Uninitialized'
  - '-clang-analyzer-core.NullDereference'
  - '-bugprone-implicit-widening-of-multiplication-result'
  - '-readability-implicit-bool-conversion'
  - '-readability-braces-around-statements'
  - '-readability-simplify-boolean-expr'
  - '-readability-identifier-length'
  - '-readability-use-concise-preprocessor-directives'
  - '-readability-named-parameter'

HeaderFilterRegex: '.*'
WarningsAsErrors: '*'
FormatStyle: llvm
